.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Container for the exercise information */
.exercise-info-container {
  padding: 30px;
  text-align: center;
  background-color: #f4f4f9;
}

/* Heading styling */
.exercise-heading {
  color: #2c3e50;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

/* Card Styling */
.exercise-card {
  display: inline-block;
  width: 280px;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.exercise-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

/* Content inside each card */
.exercise-card-content {
  text-align: center;
}

.exercise-card-content h3 {
  color: #2c3e50;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.exercise-card-content p {
  color: #7f8c8d;
  font-size: 1rem;
  margin-bottom: 20px;
}

/* Button to view the video */
.view-video-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #27ae60;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-video-button:hover {
  background-color: #2ecc71;
}
